
body {
  background-image: url('images/1.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#container {
   min-height: 100%;
}
#container img {
  position: absolute;
}
#container nav {
  width: 90%;
  background: black;
  overflow: auto;
  float: right;
  opacity:0.7;
}
#container ul {
  padding: 0;
  margin: 0 50px 0 150px;
  list-style: none;
}
#container li {
  float: right;
}
#container nav a {
  width: 120px;
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
}
#container nav a:hover {
  background: purple;
  transition: 0.5s;
  text-transform: uppercase;
}
#main{
    margin: 200px 0px 0px 20px; 
    width: 400px;
    color: white;
}
#main h1 {
  color: red;
  font-weight: 800;
}
#main button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 35px;
  cursor: pointer;
  border-radius: 999px;
}

#main .button {
  background-color: #4CAF50;
}
#main .button2 {background-color: #f44336;}

#footer {
  position: absolute;
  bottom: -70px;
  height: 100px;
  width: 100%;
  background-color: #400080;
  opacity: 0.9;
}
.foot-container{
  display: flex;
  padding-top: 16px;
  color: white;
}
.foot-logo-img
{
  width: 50px;
  height: 50px;
  size: 100%;
  border-radius: 50%;
  margin:0px 20px 0px 20px;
}
#footer p{
  margin-top: 10px;
}
.foot-logo {
  text-align: center;
}
.movie-name{
  margin:0px 0px 30px 30px;
  width: 350px;
  height: 50px;
  color: white;
}
.date-time {
  display: flex;
  width: 400px;
  height: 50px;
}
.days{
  padding-right: 30px;
  padding-left: 10px;
  border-right: 1px solid white;
}
.hours{
    padding-right: 30px;
  padding-left: 10px;
  border-right: 1px solid white;
}
.minutes{
    padding-right: 30px;
  padding-left: 10px;
  border-right: 1px solid white;
}
.seconds{
    padding-right: 30px;
  padding-left: 10px;
  border-right: 1px solid white;
}
.foot-button{
    height : 50px;
    width: 200px;
    margin-left: 60px;
    border-radius: 25px;
    background-color: #4CAF50; /* Green */
    border: none;
    cursor: pointer;
}

